.skills_conatiner {
  margin-top: 30px;
  text-align: center;
}

.name_skills {
  font-size: 45px;
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03.rem;
}
.content_subsection_skills {
  display: inline-block;
  width: 80%;
}
.hr {
  text-align: center;
  display: inline-block;
  width: 60%;
}

